<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{{pick.title}}</h3>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-sm-1">
				<i class="vote-icon fa fa-sort-asc fa-3x" ng-click="vote('description_vote_up')" ng-style="getVoteColor('description_vote_up')"></i> <span
					class="vote-text">{{descriptionVotesCount()}}</span> <i
					class="vote-icon fa fa-sort-desc fa-3x" ng-click="vote('description_vote_down')" ng-style="getVoteColor('description_vote_down')"></i>
			</div>
			<div class="col-sm-11">
				<div class="well well-lg" marked="pick.description"></div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">label title</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<i class="vote-icon fa fa-thumbs-o-up fa-3x"></i> <br />
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						60%</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-1">
						<i class="vote-icon fa fa-caret-up fa-2x"></i>
					</div>
					<div class="col-md-11">
					<!-- id="description" ng-model="newPick.description"
							name="description"  marked="pick.description-->
						<div class="well well-sm">pros/cons</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>












