<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">Users</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="user in users">{{name(user)}}
                    <span class="badge pull-right">{{score(user)}}</span>
                </li>
			</ul>
		</div>
	</div>
</div>
<!-- 
<ul>
  Users:
  <li ng-repeat="user in users">
    <div>{{ user.emails[0].address }}</div>
  </li>
</ul>
-->
 